.parcours-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  .content-items {
    width: 20%;
    // height: 100%;
    background-color: #F5F5F5;
    flex: 1;

    .items {
      text-align: center;
      margin: 20px 10px;

      &-title {
        width: 90%;
        padding: 10px 30px;
        background-color: black;
        color: white;
        margin: 3px;
        box-shadow: 1px 1px 1px 1px gainsboro;
        margin: 0 auto 20px auto;
      }
      .competences {
        margin: 10px auto;
      }
    }
  }

  .content-parcours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 2;

    .parcours {
      margin: 20px 10px;

      &-title {
        width: 23rem;
        padding: 10px 30px;
        background-color: black;
        color: white;
        margin: 3px;
        box-shadow: 1px 1px 1px 1px gainsboro;
      }
      &-card {
        width: 23rem;
        background-color: white;
        padding: 10px 30px;
        margin: 3px;
        box-shadow: 1px 1px 1px 1px gainsboro;
        position: relative;

        :hover::after {
          content: "";
          width: 10px;
          height: 100%;
          background-color: black;
          position: absolute;
          top: 0;
          left: 0;
        }

        .intitule {
          font-weight: bold;
        }
        .organisme {

        }
        .periode {
          color: gray;
        }
      }
    }
  }
}