.parcours-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  @media (max-width: 400px) {
    font-size: 14px;
  }
  @media (max-width: 345px) {
    font-size: 11px;
  }
  
  @media screen and (max-width: 793px) {
    // flex-direction: row;
  }
  .content-items {
    width: 20%;
    // height: 100%;
    // background-color: white;
    flex: 1;

    min-width: 25rem;

    @media (max-width: 400px) {
      min-width: 20rem;
    }
    @media (max-width: 345px) {
      min-width: 15rem;
    }

    // @media screen and (max-width: 793px) {
    //   // order: 1;
    // }

    .titles {
      margin: 25px 0;
      display: flex;
      justify-content: center;

      @media (max-width: 400px) {
        font-size: 16px;
      }

      .title {
        width: 190px;

        &-one {
          font-weight: bold;
          background-color: white;
          padding: 7px 10px;
          width: fit-content;
          margin: 0 auto 0 0;
          // border-bottom: 1px black solid;
        }
  
        &-two {
          background-color: white;
          padding: 7px 10px;
          width: fit-content;
          margin: 0 0 0 auto;
          border-top: 1px black solid;
        }
      }
    }

    .items {
      text-align: center;
      margin: 20px 10px;

      @media (min-width: 794px) and (max-width: 1188px) {
        position: fixed;
        left: 5px;
        top: 10vh;
      }

      &-title {
        width: 23rem;
        padding: 10px 30px;
        background-color: black;
        color: white;
        margin: 3px;
        box-shadow: 1px 1px 1px 1px gainsboro;
        margin: 0 auto 20px auto;

        @media (max-width: 400px) {
          width: 20rem;
        }
        @media (max-width: 345px) {
          width: 15rem;
        }
      }
      .competences {
        margin: 10px auto;

        .strong {
          font-weight: 600;
        }
      }
    }
  }

  .content-parcours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 2;
    background-color: white;

    .parcours {
      margin: 20px 10px;

      &-title {
        width: 23rem;
        padding: 10px 30px;
        background-color: black;
        color: white;
        margin: 3px;
        box-shadow: 1px 1px 1px 1px gainsboro;

        @media (max-width: 400px) {
          width: 20rem;
        }
        @media (max-width: 345px) {
          width: 15rem;
        }
      }
      &-card {
        width: 23rem;
        background-color: white;
        padding: 10px 30px;
        margin: 3px;
        box-shadow: 1px 1px 1px 1px gainsboro;
        position: relative;

        @media (max-width: 400px) {
          width: 20rem;
        }
        @media (max-width: 345px) {
          width: 15rem;
        }

        &:hover {
          transform: scale(1.01);
        }

        &:hover::after {
          content: "";
          width: 10px;
          height: 100%;
          background-color: black;
          position: absolute;
          top: 0;
          left: 0;
        }

        .intitule {
          font-weight: 500;
        }
        // .organisme {

        // }
        .periode {
          color: gray;
        }
      }
      .nextCard {
        @media (max-width: 1188px) {
          margin-bottom: 7vh;
        }
      }
    }
  }

  .interets {
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px gainsboro solid;
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: white;
    position: fixed;
    right: 15px;
    bottom: 7vh;
    display: flex;
    justify-content: space-between;
    opacity: 70%;
    transition: 500ms;

    &:hover {
      opacity: 100%;
      transition: 500ms;
    }

    &_content{
      text-align: left;
      font-size: 14px;
      
      .intitule {
        font-weight: 500;
        margin-bottom: 3px;
      }
      .interet {
        color: gray;
      }
    }
  }
  .close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px gainsboro solid;
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: white;
    position: fixed;
    right: 15px;
    bottom: 7vh;
    opacity: 30%;
    transition: 500ms;

    &:hover {
      opacity: 100%;
      transition: 500ms;
    }
  }
}