.accueil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);

  .accueil-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .accueil-title {
      text-align: end;
      margin-bottom: 20px;

      h1 {
        font-size: 3.7em;
        font-weight: bold;
        color: rgb(205, 205, 205);

        @media (max-width: 850px) {
          font-size: 2.7em;
        }
        @media (max-width: 600px) {
          font-size: 1.7em;
        }
        @media (max-width: 300px) {
          font-size: 1.2em;
        }
      }

      h2 {
        font-size: 1.6em;
        padding: 5px;
        color: rgb(205, 205, 205);
  
        span {
          color: #00DCFF;
        }

        @media (max-width: 850px) {
          font-size: 1.15em;
        }
        @media (max-width: 600px) {
          font-size: 0.7em;
        }
        @media (max-width: 300px) {
          font-size: 0.5em;
        }
      }
    }

    .icon-language {
      display: flex;justify-content: center;
      flex-wrap: wrap;

      .icons {
        width: 50px;
        height: 50px;
        margin: 15px;
        transition: 1s;

        &:hover {
          transform: scale(1.7);
          z-index: 1;
        }

        @media (max-width: 850px) {
          width: 30px;
          height: 30px;
        }
        @media (max-width: 600px) {
          width: 25px;
          height: 25px;
          margin: 10px;
        }
      }

      .js {
        @media screen and (max-width: 360px) {
          order: 5;
        }
      }
      .react {
        @media screen and (max-width: 315px) {
          order: 6;
        }
      }
    }
  }

  .slogan {
    color: rgb(205, 205, 205);
    position: fixed;
    bottom: 100px;

    @media (max-width: 300px) {
      font-size: 11px;
    }

    span {
      color: gainsboro;
    }
  }

  #progress_bloc {
    position: fixed;
    bottom: 80px;
    width: 200px;
    height: 7px;
    padding: 1px;
    border: rgb(205, 205, 205) 1px solid;
    border-radius: 10px;
    box-sizing: content-box;

    @media (max-width: 300px) {
      width: 150px;
    }

    .progress {
      height: 100%;
      border-radius: 10px 0 0 10px;
      transition: width 1s;
      background-color: rgb(205, 205, 205);
    }
    .progress_60 {
      width: 60%;
    }
    .progress_50 {
      width: 50%;
    }
    .progress_40 {
      width: 40%;
    }
    .progress_30 {
      width: 30%;
    }
    .progress_20 {
      width: 20%;
    }
    .progress_0 {
      width: 0%;
      height: 7px;
      border-radius: 10px 0 0 10px;
      transition: width 1s;
      background-color: rgb(205, 205, 205);
    }
  }
}

// .html{
//   color: #FC4D18;
// }
// .css{
//   color: #0076BE;
// }
// .sass{
//   color: #CF649A;
// }
// .js{
//   color: #F7E018;
//   }
// }
// .react{
//   color: #00DCFF;
//   }
// }
// .php{
//   color: #787CB4;
// }
// .symfony{
//   color: black;
// }
// .laravel{
//   color: #FF291A;
// }