$gray: #F5F5F5;
$blue: #2F4558;
$green: #354E52;
$red: #7C4C53;

// $marine: #0C2F40;
// $marineDark: #0D1A26;
// $gris: #F5F5F5;
// $fondDark: #1d252d;


// $green: #11464A;
// $green2: #103233;
// $greenDark: #22402F;
// $blueGreen: #0F2224;

// $blueFonce: #011826;
// $bleuR: #20232A;


// $bleuclair: #516373;
// $bleu: #1C2F40;
// $bleuFonce: #011E59;
// $bleuDark: #0D1A26;

// $vert: #2D5457;
// $vertFonce: #21424B;
// $vertclair: #7EA58C;
// $vertDark: #182A38;

// $rouge: #BF3516;
// $rougeFonce: #A52317;
// $rougeclair: #F2E1CD;
// $rougeDark: #592101;