@import '../../styles/vars';

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  flex-direction: column;

  .contact-title {
    font-size: 1.5rem;
    // font-weight: 450;
  }

  .contact-content {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .contact-form {
      width: 70%;

      .contact-input {
        border: 1px solid gainsboro;
        border-radius: 5px;
        // outline: 0;
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 20px;
      }

      .messageError {
        color: red;
        font-size: 12px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
          margin: 0 5px;
        }
      }

      #contact-button {
        color: gainsboro;
        margin-bottom: 0;
      }
    }
  }
}