@import '../../styles/vars';

.footer-container {
  height: 7vh;

  .light {
    background-color: $marine;
  }
  .dark {
    background-color: $marineDark;
  }
  .footer-content {
    // background-color: #222222;
    // background-color: $marineDark;
    // background-color: $marine;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;

    .icon {

      i {
        color: gainsboro;
        margin: 0 7px;
      }
    }
  }

}