@import '../../styles/vars';

.theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 90px;
  z-index: 1;

  .theme-content {
    display: flex;
    
    .icon-setting {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 2px 2px gainsboro;
      border-radius: 5px 0 0 5px;
      background-color: white;
      margin-top: 25px;
      cursor: pointer;

      i {
        animation: rotate-center infinite 1s linear;
  
        @keyframes rotate-center {
          from{
            transform: rotate(360deg);
            }
            to{
              transform: rotate(0deg);
            }
        }
      }
    }
  
    .theme-setting {
      width: 150px;
      height: 250px;
      background-color: white;
      box-shadow: 2px 2px 2px 2px gainsboro;
      border-radius: 5px 0 0 5px;
      padding: 10px;

      .colors {
        display: flex;

        .color {
          width: 25px;
          height: 25px;
          border-radius: 5px;
          margin: 10px 5px;
          cursor: pointer;
        }
        .blue {
          background-color: $blue;
        }
        .green {
          background-color: $green;
        }
        .red {
          background-color: $red;
        }
      }
      .mode {
        .btn-mode {
          margin: 10px 5px;
          padding: 3px 7px;
          border-radius: 5px;
          border: none;
          color: $gray;
          background-color: $gray;
        }
      }
    }
    .hidden {
      display: none;
    }
  }
}